:root {
  --blue: rgb(1, 114, 206);
  --pink: rgb(246, 243, 255);
  --shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
  --standard-margin: 2rem;
}

header .nav-wrapper:after {
  background: linear-gradient(90deg, rgb(172, 84, 79), rgb(13, 105, 197));
  content: "";
  display: block;
  height: 0.5rem;
  width: 100%;
}

.benefits-container {
  display: flex;
  gap: 3rem;
}

body {
  background: linear-gradient(0deg, rgba(231, 235, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-size: cover;
}

button {
  &.button-add {
    background-color: white;
    color: var(--blue);
  }

  &.button-order {
    background-color: var(--blue);
    border-radius: 0.25rem;
    box-shadow: var(--shadow);
    color: white;
  }
}

.detail-column {
  padding: var(--standard-margin);
  width: 50%;

  > * + *,
  form > * + * {
    margin-top: 1rem;
  }
}

.detail-info {
  background-color: var(--pink);
}

.detail-title {
  font-weight: 700;
}

h3 {
  font-size: inherit;
}

.package-benefit {
  color: rgb(105, 118, 133);
  display: flex;
  gap: 0.25rem;
  width: 50%;

  .benefit-description {
    font-size: 1rem;
  }

  .icon {
    background-color: white;
    border-color: #697685;
    border-width: 2px;
    border-radius: 50px;
    margin-right: 0.5rem;
    text-align: center;
    display: inline-flex;
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
  }
}

.order-buttons {
  display: none;
  justify-content: flex-end;
}

.plus {
  color: purple;
  font-size: 1.5rem;
  font-weight: 500;
}

.required {
  color: red;
}

.reg-mark {
  font-size: 1rem;
  vertical-align: super;
}

.sample-report {
  color: var(--blue);
  font-weight: 700;
}

.test-description {
  color: gray;
  font-size: 0.8rem;
}

.test-details {
  display: none;
  gap: var(--standard-margin);
  margin-top: var(--standard-margin);

  ul {
    list-style: none;
    padding: 0;
  }
}

.test-header {
  display: flex;
  flex-direction: column;
}

.test-package {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: var(--shadow);
  padding: var(--standard-margin);

  &.show {
    .description-column {
      display: none;
    }

    .order-buttons {
      display: flex;
    }

    .test-details {
      display: flex;
    }

    .title-column {
      border-color: white;
    }
  }
}

#test-package-list {
  display: flex;
  flex-direction: column;
  gap: var(--standard-margin);
  list-style: none;
  padding: 0;
}

.test-summary {
  align-items: center;
  display: flex;
  gap: var(--standard-margin);
  justify-content: space-between;
}

.test-title {
  color: var(--blue);
  font-size: var(--standard-margin);
}

.title-column {
  align-items: center;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  gap: var(--standard-margin);
  min-width: 40%;
  padding-right: var(--standard-margin);
}
