:root {
  --blue: #0172ce;
  --pink: #f6f3ff;
  --standard-margin: 2rem;
}
.benefits-container {
  display: flex;
  gap: 3rem;
}
button.button-add {
  background-color: white;
  color: var(--blue);
}
button.button-order {
  background-color: var(--blue);
  border-radius: 0.25rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
  color: white;
}
.detail-column {
  padding: var(--standard-margin);
  width: 50%;
}
.detail-column > * + * {
  margin-top: 1rem;
}
.detail-info {
  background-color: var(--pink);
}
.detail-title {
  font-weight: 700;
}
.package-benefit {
  color: #697685;
  display: flex;
  gap: 0.25rem;
  width: 50%;
}
.package-benefit .benefit-description {
  font-size: 1rem;
}
.package-benefit .icon {
  background-color: white;
  border-color: #697685;
  border-width: 2px;
  border-radius: 50px;
  margin-right: 0.5rem;
  text-align: center;
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
.plus {
  color: purple;
  font-size: 1.5rem;
  font-weight: 500;
}
.red {
  color: red;
}
.reg-mark {
  font-size: 1rem;
  vertical-align: super;
}
.sample-report {
  color: var(--blue);
  font-weight: 700;
}
.test-description {
  color: gray;
  font-size: 0.8rem;
}
.test-details {
  display: none;
  gap: var(--standard-margin);
  margin-top: var(--standard-margin);
}
.test-details ul {
  list-style: none;
  padding: 0;
}
.test-header {
  display: flex;
  flex-direction: column;
}
.test-package {
  border-radius: 0.25rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
  padding: var(--standard-margin);
}
.test-package.show .test-details {
  display: flex;
}
#test-package-list {
  display: flex;
  flex-direction: column;
  gap: var(--standard-margin);
  list-style: none;
}
.test-summary {
  align-items: center;
  display: flex;
  gap: var(--standard-margin);
}
.test-title {
  color: var(--blue);
  font-size: var(--standard-margin);
}
.title-column {
  align-items: center;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  gap: var(--standard-margin);
  min-width: 40%;
  padding-right: var(--standard-margin);
}
