:root {
  --blue: rgb(1, 114, 206);
  --pink: rgb(246, 243, 255);
}

.detail-info {
  background-color: var(--pink);
}

#order-accordion {
}

.plus {
  color: purple;
  font-size: 1.5rem;
  font-weight: 500;
}

.reg-mark {
  font-size: 1rem;
  vertical-align: super;
}

.test-description {
  color: gray;
  font-size: 0.8rem;
}

.test-details {
  display: none;

  &.show {
    display: block;
  }
}

.test-header {
  display: flex;
  flex-direction: column;
}

.test-package {
  border-radius: 0.25rem;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

#test-package-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.test-summary {
  align-items: center;
  display: flex;
  gap: 2rem;
}

.test-title {
  color: var(--blue);
  font-size: 2rem;
}

.title-column {
  align-items: center;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  min-width: 40%;
  padding-right: 2rem;
}
